:root {
  --primary-brand: #FA5A25;
  --background: #FFFFFF;
  --background-alt: #F7F5F4;
  --foreground: #2B3037;
  --foreground-alt: #4E566D;
  --foreground-alt2: #6D758D;
  --secondary-bg: #D1C5B7;
  --username-text: #6D758D;
  --static-dark: #373737;
  --static-white: #FFFFFF;
}

/* Base typography styles */
body {
  background-color: var(--background-alt);
  font-family: DINPro, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--foreground);
  margin: 0;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin: 0;
}

h2 {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 0.5rem;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #2B3037;
  margin: 0;
  }

p {
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

a {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.global-button {
  border: 1px solid;
  border-radius: 100px;
  padding: 10px 24px 10px 24px;
  background-color: transparent;
  border-color: var(--foreground-alt2);
}

.global-button:hover {
  cursor: pointer;
}

@media (max-width: 320px) {

  h3 {
    font-size: 16px;
    font-weight: 500;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }

  .global-button {
    padding: 8px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .card {
    height: auto;
    align-items: center;
    min-width: 230px;
}

.top-row {
  max-height: none;
}

.bottom-row {
  flex-direction: column;
}

.row-bottom {
  display: flex;
  padding-top: 16px;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
}

/* Mobile typography */
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  
  h2 {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 0.5rem;
  }
  
  h3 {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #2B3037;
  margin: 0;
  }

  p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
  }
  
  a {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
}

/* Small screens (up to 767px) */
@media (max-width: 767px) {

}

/* Medium screens (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Large screens (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Extra-large screens (1200px and up) */
@media (min-width: 1200px) {

}


