@import url("../../styles/global-styles.css");

header {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: var(--header-bg);
  height: 56px;
};