@import url("../../styles/global-styles.css");

.footer-container {
  height: 250px;
  background-color: var(--static-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}